In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [2]:
steam = pd.read_csv("steam.csv")
steamspy_tag_data = pd.read_csv("steamspy_tag_data.csv")

In [3]:
steamspy_tag_data.head()

,appid,1980s,1990s,2.5d,2d,2d_fighter,360_video,3d,3d_platformer,3d_vision,...,warhammer_40k,web_publishing,werewolves,western,word_game,world_war_i,world_war_ii,wrestling,zombies,e_sports
0,10,144,564,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,550
1,20,0,71,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,30,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,5,122,0,0,0
3,40,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,50,0,77,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
steamspy_tag_data.shape

(29022, 372)

In [5]:
steam.head()

,appid,name,release_date,english,developer,publisher,platforms,required_age,categories,genres,steamspy_tags,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime,owners,price
0,10,Counter-Strike,2000-11-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,124534,3339,17612,317,10000000-20000000,7.19
1,20,Team Fortress Classic,1999-04-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,3318,633,277,62,5000000-10000000,3.99
2,30,Day of Defeat,2003-05-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Valve Anti-Cheat enabled,Action,FPS;World War II;Multiplayer,0,3416,398,187,34,5000000-10000000,3.99
3,40,Deathmatch Classic,2001-06-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,1273,267,258,184,5000000-10000000,3.99
4,50,Half-Life: Opposing Force,1999-11-01,1,Gearbox Software,Valve,windows;mac;linux,0,Single-player;Multi-player;Valve Anti-Cheat en...,Action,FPS;Action;Sci-fi,0,5250,288,624,415,5000000-10000000,3.99

In [6]:
steam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27075 entries, 0 to 27074
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   appid             27075 non-null  int64
 1   name              27075 non-null  object
 2   release_date      27075 non-null  object
 3   english           27075 non-null  int64
 4   developer         27075 non-null  object
 5   publisher         27075 non-null  object
 6   platforms         27075 non-null  object
 7   required_age      27075 non-null  int64
 8   categories        27075 non-null  object
 9   genres            27075 non-null  object
 10  steamspy_tags     27075 non-null  object
 11  achievements      27075 non-null  int64
 12  positive_ratings  27075 non-null  int64
 13  negative_ratings  27075 non-null  int64
 14  average_playtime  27075 non-null  int64
 15  median_playtime   27075 non-null  int64
 16  owners            27075 non-null  object
 17  price             27075 non-null  float64
dtypes: float64(1), int64(8), object(9)
memory usage: 3.7+ MB

In [7]:
steam.shape

(27075, 18)

In [8]:
small = ['0-20000','20000-50000','50000-100000']
huge = ['5000000-10000000','100000000-200000000','20000000-50000000','50000000-100000000']
rows = steam.shape[0]
for i in range(0,rows):
    if steam['owners'][i] in small:
        steam['owners'][i]='small'
    elif steam['owners'][i] in huge:
        steam['owners'][i]='huge'
    else:
        steam['owners'][i]='medium'

C:\Users\Win 10\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Win 10\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Win 10\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [9]:
steam.head()

,appid,name,release_date,english,developer,publisher,platforms,required_age,categories,genres,steamspy_tags,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime,owners,price
0,10,Counter-Strike,2000-11-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,124534,3339,17612,317,medium,7.19
1,20,Team Fortress Classic,1999-04-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,3318,633,277,62,huge,3.99
2,30,Day of Defeat,2003-05-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Valve Anti-Cheat enabled,Action,FPS;World War II;Multiplayer,0,3416,398,187,34,huge,3.99
3,40,Deathmatch Classic,2001-06-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,1273,267,258,184,huge,3.99
4,50,Half-Life: Opposing Force,1999-11-01,1,Gearbox Software,Valve,windows;mac;linux,0,Single-player;Multi-player;Valve Anti-Cheat en...,Action,FPS;Action;Sci-fi,0,5250,288,624,415,huge,3.99

In [10]:
y = pd.get_dummies(steam.owners, prefix='size')
y=y.drop('size_medium', axis=1)
y.head()

   size_huge  size_small
0          0           0
1          1           0
2          1           0
3          1           0
4          1           0

In [11]:
for i in range(0,rows):
    if steam['required_age'][i] >= 18:
        steam['required_age'][i]=1
    else:
        steam['required_age'][i]=0

C:\Users\Win 10\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Win 10\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [12]:
z = pd.get_dummies(steam.required_age, prefix='age_verification')
z=z.drop('age_verification_0', axis=1)
z.rename(columns = {'age_verification_1':'age_verification'}, inplace = True)
z.head()

   age_verification
0                 0
1                 0
2                 0
3                 0
4                 0

In [13]:
to_drop =['name','owners','release_date','developer', 'publisher', 'platforms', 'categories', 'genres', 'steamspy_tags',
          'achievements', 'english', 'required_age']
steam=steam.drop(to_drop, axis=1)
steam.head()

,appid,positive_ratings,negative_ratings,average_playtime,median_playtime,price
0,10,124534,3339,17612,317,7.19
1,20,3318,633,277,62,3.99
2,30,3416,398,187,34,3.99
3,40,1273,267,258,184,3.99
4,50,5250,288,624,415,3.99

In [14]:
steam.shape

(27075, 6)

In [15]:
steam = pd.concat([steam, z], axis=1, sort=False)

In [16]:
steam = pd.concat([steam, y], axis=1, sort=False)

In [17]:
steam.head()

,appid,positive_ratings,negative_ratings,average_playtime,median_playtime,price,age_verification,size_huge,size_small
0,10,124534,3339,17612,317,7.19,0,0,0
1,20,3318,633,277,62,3.99,0,1,0
2,30,3416,398,187,34,3.99,0,1,0
3,40,1273,267,258,184,3.99,0,1,0
4,50,5250,288,624,415,3.99,0,1,0

In [18]:
steam.shape

(27075, 9)

In [19]:
final_df=pd.merge(left=steam, right=steamspy_tag_data, how='left', left_on='appid', right_on='appid')

In [20]:
final_df.head()

,appid,positive_ratings,negative_ratings,average_playtime,median_playtime,price,age_verification,size_huge,size_small,1980s,...,warhammer_40k,web_publishing,werewolves,western,word_game,world_war_i,world_war_ii,wrestling,zombies,e_sports
0,10,124534,3339,17612,317,7.19,0,0,0,144,...,0,0,0,0,0,0,0,0,0,550
1,20,3318,633,277,62,3.99,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,30,3416,398,187,34,3.99,0,1,0,0,...,0,0,0,0,0,5,122,0,0,0
3,40,1273,267,258,184,3.99,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,50,5250,288,624,415,3.99,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
final_df=final_df.drop('appid', axis=1)

In [22]:
final_df.shape

(27075, 379)

In [23]:
scaler=MinMaxScaler(feature_range=(0, 1))
features=scaler.fit_transform(final_df)

In [24]:
features

array([[4.70934093e-02, 6.85519303e-03, 9.23908197e-02, ...,
        0.00000000e+00, 0.00000000e+00, 6.54294552e-02],
       [1.25472507e-03, 1.29959185e-03, 1.45311475e-03, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.29178446e-03, 8.17120942e-04, 9.80983607e-04, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       ...,
       [0.00000000e+00, 2.05306769e-06, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [7.56314088e-07, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.51262818e-06, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]])

In [25]:
import numpy as np
np.round(features,3)

array([[0.047, 0.007, 0.092, ..., 0.   , 0.   , 0.065],
       [0.001, 0.001, 0.001, ..., 0.   , 0.   , 0.   ],
       [0.001, 0.001, 0.001, ..., 0.   , 0.   , 0.   ],
       ...,
       [0.   , 0.   , 0.   , ..., 0.   , 0.   , 0.   ],
       [0.   , 0.   , 0.   , ..., 0.   , 0.   , 0.   ],
       [0.   , 0.   , 0.   , ..., 0.   , 0.   , 0.   ]])

In [26]:
from sklearn.neighbors import NearestNeighbors

In [27]:
model = NearestNeighbors(n_neighbors=6).fit(features)

In [28]:
distances, indices = model.kneighbors(features)

In [33]:
steam_original = pd.read_csv("steam.csv")
def get_index_from_name(name):
    return steam_original[steam_original["name"]==name].index.tolist()[0]

In [35]:
all_game_names = list(steam_original.name.values)

In [61]:
def print_similar_games(query):
        found_id = get_index_from_name(query)
        for id in indices[found_id][1:]:
            print(steam_original.iloc[id]["name"])

In [66]:
print_similar_games("Bio Inc. Redemption")

ESCAPE FROM VOYNA:  Tactical FPS survival
Riftwalker
Allison's Diary: Rebirth
Hinterhalt 2
DYING: Reborn